<!DOCTYPE html>
<html>
	<head th:replace="~{base :: head}"></head>
	
	<body>
		<div th:replace="~{base :: logo}"></div>
		
		<div class="container">
		
			<div th:replace="~{base :: maintitle('Recent Orders')}"></div>
		
			<div class="card mb-3" th:each="product : ${productList}">
				<div class="card-header alert-dark" th:text=${product.productName}></div>
				
				<div class="card-body">
					<div class="row">
						
						<!-- Notice that in Bootstrap, we have prefixes to reference some 
						pixels values, like:
						
								col means "Extra small" <576px
								col-sm means "Small" >= 576px
								col-md means "Medium" >= 768px
								col-lg means "Large" >= 992px
								col-xl means "XLarge" >= 1200px
								
							Each row have 12 columns.
						  -->
						<div class="col-12 col-sm-8 mb-3">
							<div class="row">
								<div class="col-md-5">Value: <span th:if="${product.value} != null" th:text="${'R$ ' + #numbers.formatDecimal(product.value,3,'POINT',2,'COMMA')}"></span></div>
								<div class="col-md-7">Delivery date: <span th:text="${#temporals.format(product.deliveryDate, 'dd/MM/yyyy')}"></span></div>
							</div>

							<div>Product</div>
							<div><input class="form-control" th:value="${product.productUrl}" value="product url"></div>
							<div>Description</div>
							<div><textarea class="form-control" th:text="${product.description}"></textarea></div>
						</div>
						<div class="col-12 col-sm-4">
							<div>
								<img class="img-thumbnail" th:src="${product.imageUrl}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>