<!DOCTYPE html>
<html>
	<head th:replace="~{base :: head}"></head>
	
	<body>
		<div th:replace="~{base :: logo}"></div>
		
		<div class="container">
			<div th:replace="~{base :: maintitle('Login')}"></div>
		
			<div class="card mb-3">
				<form th:action="@{/login}" class="card-body" method="post">
					<div class="form-group">
						<label for="username">User</label>
						<input name="username" class="form-control" placeholder="User name"/>
					</div>
					<div class="form-group mt-3">
						<label for="password">Password</label>
						<input type="password" name="password" class="form-control" placeholder="Password"/>
					</div>
					<button type="submit" class="btn btn-primary mt-3">Login</button>
				</form>
			</div>
		</div>
	</body>
</html>