<!DOCTYPE html>
<html>
	<head th:replace="~{base :: head}"></head>
	
	<body onload="onLoad()">
		<div th:replace="~{base :: logo}"></div>
		
		<div class="container" id="offers">
		
			<div th:replace="~{base :: maintitle('Make your Offer!')}"></div>
		
			<div class="card mb-3" v-for="productOrder in orders">
				<div class="card-header alert-dark">{{productOrder.productName}}</div>
				
				<div class="card-body">
					<div class="row">
						
						<!-- Notice that in Bootstrap, we have prefixes to reference some 
						pixels values, like:
						
								col means "Extra small" <576px
								col-sm means "Small" >= 576px
								col-md means "Medium" >= 768px
								col-lg means "Large" >= 992px
								col-xl means "XLarge" >= 1200px
								
							Each row have 12 columns.
						  -->
						<div class="col-12 col-sm-8 mb-3">
							<div>Product</div>
							<div><a v-bind:href="productOrder.productUrl">{{productOrder.productName}}</a></div>
							<div>Description</div>
							<div><textarea disabled="disabled" class="form-control">{{productOrder.description}}</textarea></div>
							<div class="row mt-3">
								<!-- How to use vue on inputs with 'v-model' -->
								<div class="col-md-5">
									<label>Value:</label> 
									<input class="form-control" v-model="productOrder.productValue"/>
								</div>
								<div class="col-md-7">
									<label>Delivery date:</label> 
									<input class="form-control" v-model="productOrder.deliveryDate"/>
								</div>
							</div>
							<div class="mt-2">
								<label>Comment:</label>
								<textarea class="form-control" v-model="productOrder.comment"></textarea>
							</div>
							<!-- Using Vue on button action with 'v-on:click' 
							v-if for conditional using offerRegistered as a runtime variable.-->
							<button v-if="productOrder.offerRegistered" class="btn btn-success mt-3">Offer Registered</button>
							<button v-else="" v-on:click="registerOffer(productOrder)" class="btn btn-primary mt-3">Register Offer</button>
						</div>
						<div class="col-12 col-sm-4">
							<div>
								<img class="img-thumbnail" v-bind:src="productOrder.imageUrl">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			/*Using Vue JS and Axios*/

			function onLoad() {
				var app = new Vue(
					{
						el : '#offers',
						data : {
							orders : [] 
						},
						mounted () {
						    axios
						      .get('http://localhost:8080/api/orders/waiting')
						      .then(response => {
						    	  response.data.forEach(productOrder => productOrder.offerRegistered = false)
						    	  this.orders = response.data
						      })
						},
						methods: {
							//This is the way of declaring functions/methods on Vue:
							registerOffer: function(productOrder){
							    axios
							      .post('http://localhost:8080/api/offers', {
							    	  orderId: productOrder.id,
							    	  value: productOrder.productValue,
							    	  deliveryDate: productOrder.deliveryDate,
							    	  comment: productOrder.comment
							      })
							      .then(response => productOrder.offerRegistered = true);
							}
						}
					}
				)
			}
		</script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</body>
</html>